<launch> 
    <!-- simulator -->
    <node name="simulation" pkg="turtlesim" type="turtlesim_node" /> 
    
    <!-- pub-sub -->
    <node name="pub_sub_node" pkg="learning_communication" type="pub_sub_node">
        <!-- load default params -->
        <rosparam command="load" file="$(find learning_communication)/config/pub_sub.yaml" />

        <!-- configuration -->
    </node> 
</launch>